@font-face {
  font-family: 'toki-icon';
  src:  url('fonts/toki-icon.eot?ahe9cj');
  src:  url('fonts/toki-icon.eot?ahe9cj#iefix') format('embedded-opentype'),
    url('fonts/toki-icon.ttf?ahe9cj') format('truetype'),
    url('fonts/toki-icon.woff?ahe9cj') format('woff'),
    url('fonts/toki-icon.svg?ahe9cj#toki-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="toki-icon-"], [class*=" toki-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'toki-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toki-icon-Help-icon-2:before {
  content: "\e92c";
  color: #fff;
}
.toki-icon-Shop-icon-2:before {
  content: "\e92b";
  color: #fff;
}
.toki-icon-Help-icon-1:before {
  content: "\e900";
  color: #fff;
}
.toki-icon-Shop-icon:before {
  content: "\e901";
  color: #fff;
}
.toki-icon-Calendar-icon:before {
  content: "\e902";
  color: #647382;
}
.toki-icon-Chart-icon:before {
  content: "\e903";
  color: #fff;
}
.toki-icon-Check-icon .path1:before {
  content: "\e904";
  color: rgb(255, 200, 0);
}
.toki-icon-Check-icon .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(30, 35, 53);
}
.toki-icon-Coffee-icon:before {
  content: "\e906";
  color: #fff;
}
.toki-icon-Delete-icon:before {
  content: "\e907";
  color: #f45844;
}
.toki-icon-Delete:before {
  content: "\e908";
}
.toki-icon-Down-arrow-7:before {
  content: "\e909";
}
.toki-icon-Down-arrow-9:before {
  content: "\e90a";
  color: #647382;
}
.toki-icon-Edit-icon:before {
  content: "\e90b";
}
.toki-icon-Ellipse-icon:before {
  content: "\e90c";
  color: #b3bfc6;
}
.toki-icon-eMail:before {
  content: "\e90d";
}
.toki-icon-Excel-icon:before {
  content: "\e90e";
  color: #647382;
}
.toki-icon-Filter-icon:before {
  content: "\e90f";
  color: #647382;
}
.toki-icon-Gear-icon:before {
  content: "\e910";
  color: #fff;
}
.toki-icon-Hide-icon:before {
  content: "\e911";
}
.toki-icon-Image .path1:before {
  content: "\e912";
  color: rgb(179, 191, 198);
}
.toki-icon-Image .path2:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(245, 245, 250);
}
.toki-icon-Image .path3:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(245, 245, 250);
}
.toki-icon-Log-out-icon:before {
  content: "\e915";
  color: #fff;
}
.toki-icon-Next-icon:before {
  content: "\e916";
  color: #1ec841;
}
.toki-icon-Notification-icon:before {
  content: "\e917";
  color: #fff;
}
.toki-icon-Password:before {
  content: "\e918";
}
.toki-icon-Plus-icon:before {
  content: "\e919";
}
.toki-icon-reCAPTCHA .path1:before {
  content: "\e91a";
  color: rgb(28, 58, 169);
}
.toki-icon-reCAPTCHA .path2:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(67, 136, 242);
}
.toki-icon-reCAPTCHA .path3:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(179, 179, 179);
}
.toki-icon-reCAPTCHA .path4:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(179, 179, 179);
}
.toki-icon-Refresh-icon:before {
  content: "\e91e";
  color: #647382;
}
.toki-icon-Search---Light-icon:before {
  content: "\e91f";
  color: #647382;
}
.toki-icon-Send-a-request:before {
  content: "\e920";
  color: #fff;
}
.toki-icon-Show---Bold-icon:before {
  content: "\e921";
}
.toki-icon-Show-icon:before {
  content: "\e922";
}
.toki-icon-Star-icon:before {
  content: "\e923";
}
.toki-icon-Ticket-star-icon:before {
  content: "\e924";
  color: #fff;
}
.toki-icon-Typography .path1:before {
  content: "\e925";
  color: rgb(255, 200, 0);
}
.toki-icon-Typography .path2:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(30, 35, 53);
}
.toki-icon-Typography .path3:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(255, 200, 0);
}
.toki-icon-Typography .path4:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(30, 35, 53);
}
.toki-icon-Up-arrow:before {
  content: "\e929";
}
.toki-icon-Upload-icon:before {
  content: "\e92a";
}
